<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.competition.android.competition_five">
    <!--Ocr-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--leanCloud-->
    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UseActivity.LoginActivity">

        </activity>
        <activity android:name=".BaseActivity">

        </activity>
        <activity android:name=".UseActivity.NodeContextActivity"></activity>
        <activity android:name=".Ocr.IDCardActivity"></activity>
        <activity android:name=".HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BarrageActivity">

        </activity>
        <activity android:name=".activity.mine.FeedbackActivity"/>
        <activity android:name=".activity.mine.SettingActivity"/>
        <activity android:name=".activity.mine.UpdateUserInfoActivity"/>
        <activity android:name=".activity.mine.UserInfoActivity"/>
        <activity android:name=".activity.ar.ArItemShow"/>

        <activity android:name=".activity.ar.UploadTuPian">

        </activity>
        <activity android:name=".activity.ar.UploadShiPin"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.File_Provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

    </application>

</manifest>